apiVersion: apps/v1
kind: Deployment
metadata:
  name: claims-service
  labels:
    app: claims-service
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: claims-service
  template:
    metadata:
      labels:
        app: claims-service
    spec:
      containers:
      - name: claims-service
        image: <ECR_REPOSITORY_URL><IMAGE_TAG>
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: AWS_REGION
          value: "us-east-1"
        - name: AWS_DEFAULT_REGION
          value: "us-east-1"
---
apiVersion: v1
kind: Service
metadata:
  name: claims-service
  labels:
    app: claims-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-target: "HTTP:80/"
spec:
  selector:
    app: claims-service
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer